---
// Redirection vers la page calendrier
// La collection "sorties" a été fusionnée avec "evenements"
---

<script>
  window.location.href = '/calendrier';
</script>

<meta http-equiv="refresh" content="0; url=/calendrier">

<p>Redirection vers le calendrier...</p>
